
h1 {
    text-align: center; 
}

html {
    background-color: rgb(0, 0, 0);

}

.titleColor {
    font-family: 'Noto Sans', sans-serif;
    font-size: 3.1em;
    font-style: italics;
    text-align: center; 
    color:antiquewhite;
}

.smallText {
    color:antiquewhite;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.2m;
    font-style: italics;
}

.options {
    text-align: center;
}


.options img {
    display:inline-block;
    margin:0 1% 0 1%;
    width: 20%;
    height: auto;
}
